.App-header {
  background-color: #800000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #F2E8C6;
}

.form-container {
  background-color: #982B1C;
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  border-radius: 6px;
  padding: 40px;
  padding-bottom: 70px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.password-input {
  position: relative;
}

input {
  margin: 10px 0;
  padding: 10px 10px; /* Adjust padding to fit the text */
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
  transition: border-color 0.3s ease;
  width: 100%; /* Ensure input takes full width of the container */
  box-sizing: border-box; /* Include padding in width calculation */
}

input:focus {
  border-color: #007bff; /* Change border color on focus */
}

.eye-icon {
  font-size: 25px;
  position: absolute;
  right: 10px; /* Space from the right */
  top: 50%;
  transform: translateY(-50%); /* Center vertically */
  cursor: pointer;
  color: #4A4947; /* Eye icon color */
}

button {
  padding: 10px;
  background-color: #F2E8C6;
  border: none;
  border-radius: 5px;
  font-size: 20px solid;
  color: #800000;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease; /* Smooth transition */
}

button:hover {
  background-color: #DAD4B5;
}

.toggle-span {
  font-size: medium;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #DAD4B5;
  cursor: pointer;
  transition: background-color 0.5s ease; /* Smooth transition */
}

.toggle-span:hover {
  color: #F2E8C6;
}
.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.padlock-icon {
  width: 50px; /* Adjust size as needed */
  height: 50px;
  margin-right: 5px; /* Space between image and text */
}

.title {
  font-size: 30px;
  font-weight: bold;
  color: #DAD4B5;
}

.authText{
  font-size: 30px;
  font-weight: bold;
  color: #DAD4B5;
  margin-top: 60px;
  margin-bottom: 0px;
}

.divider {
  border: 0;
  height: 2px;
  background-color: #F2E8C6;
  margin: -25px 0; /* Add spacing between elements */
  width: 100%;
}

